.formcard {
  background-color: black;
  padding: 10px;
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
}

.form__input {
  background-color: rgb(241, 236, 230);
}

.form__counter {
  align-self: flex-end;
  font-size: 0.7em;
  color: grey;
}

.form__button {
  margin-top: 5%;
  font-weight: bold;
  width: 40%;
  align-self: center;
  background-color: #eda4b0;
}
