.profile-card {
  display: flex;
  width: 80%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  justify-content: center;
  gap: 4%;
}

.profile-card__pic {
  width: 48%;
  height: 50%;
  border-radius: 10px;
  border: black 3px solid;
}

.profile-card__text {
  background-color: grey;
  padding: 2px;
  margin: 0;
  border: 3px solid black;
  width: 48%;
  border-radius: 10px;
  text-align: center;
}

.counterbox {
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.counterbox__label {
  background-color: #eda4b0;
  width: 50%;
  display: flex;
}

.counterbox__icon {
  width: 40%;
}

.profile-card__darkmodebtn {
  margin-bottom: 10px;
  font-weight: bold;
  background-color: antiquewhite;
  align-self: center;
}
