.profile-card {
  display: flex;
}

.profile-card__pic {
  width: 130px;
  height: 130px;
  margin: 20px;
  border-radius: 100px;
  border: 3px solid;
}

.profile-card__text {
  background-color: grey;
  padding: 2px;
  margin-right: 20px;
  border: 3px solid;
}

.profile-card__counter {
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  padding-right: 5px;
}

.profile-card__icon {
  width: 40px;
}

.profile-card__label {
  background-color: #eda4b0;
  width: 50%;
}

.profile-card__darkmodebtn {
  margin-bottom: 10px;
}
