* {
  box-sizing: border-box;
}

body {
  width: 300px;
  background-color: #d5d7d8;
  margin-left: auto;
  margin-right: auto;
  color: wheat;
}

header {
  background-color: #4e5255;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #92979b;
}

section {
  background-color: black;
  width: 80%;
  margin: 10px 0 10px 0;
  padding: 10px;
  position: relative;
}

.bookmark button {
  position: absolute;
  right: -8px;
  top: -8px;
  background-color: #d5d7d8;
  padding: 0;
  border: 2px solid black;
  height: 35px;
  border-radius: 10px;
  z-index: 1;
}

.bookmark button img {
  width: 30px;
}

.bookmark button:hover {
  background-color: #76787b;
  border: 2px solid white;
}

.bookmark button:active {
  background-color: #da304c;
}

section span {
  text-align: center;
}

.question {
  background-color: #4e5255;
  text-align: center;
}

button.answer {
  text-align: center;
  background-color: #da304c;
  margin: 10px 20px;
  margin-left: 30%;
  width: 100px;
}

.tags {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.tags button {
  width: 30px;
  border-radius: 4px;
  background-color: #d5d7d8;
}

footer {
  background-color: #4e5255;
  width: inherit;
  position: sticky;
  bottom: 0;
}

ul {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: aliceblue;
}

nav img {
  width: 50px;
}

nav li:hover {
  background-color: aliceblue !important;
}

nav li.active {
  background-color: wheat;
}

/* Profile Page */

.profile {
  display: flex;
}

.profile img {
  width: 150px;
  height: 150px;
  margin: 20px;
  border-radius: 100px;
}

.profile p {
  background-color: grey;
  padding: 2px;
  margin-right: 5px;
  font-size: larger;
}
